.bd{
    background-color: black;
}

.cntr{
    background-color: black;
    height: 300px;
    width:800px;
    left:357px;
    top:180px;
    position: absolute;
}

.wrt{
    text-align: center;
    font-size: 146px;
    padding-bottom: 10px;
    color: rgb(67, 108, 185);
    font-family: "Impact";
}